body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #212121;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hidden-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.logo {
  font-family: Raleway, "san-serif";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color_nav);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
  border: none;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__web-color {
  color: #2196f3;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__list--nav {
  margin-left: 90px;
}

.header__list--contact {
  margin-left: auto;
}

.header__item--nav:nth-child(n + 2) {
  margin-left: 50px;
}

.header__item--comunication:nth-child(n + 2) {
  margin-left: 30px;
}

.header__link--nav {
  color: #212121;
}

.header__link--comunication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.current {
  color: #2196f3;
  position: relative;
  padding-top: 32px;
  padding-bottom: 29px;
}

.current::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__icon--mail {
  width: 16px;
  height: 12px;
}

.header__icon--tel {
  width: 10px;
  height: 16px;
}

.hero {
  max-width: 1600px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__box {
  text-align: center;
}

.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: inline-block;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
}

.hero__button:focus {
  border: none;
  border-radius: 4px;
}

.benefits {
  padding-bottom: 90px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.benefits__item:not(:first-child) {
  margin-left: 30px;
}

.benefits__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
}

.benefits__discription {
  color: #757575;
  line-height: 1.7;
  text-align: left;
  margin-top: 10px;
}

.work {
  padding-bottom: 98px;
  padding-top: 0;
}

.work__title {
  margin-bottom: 50px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work__item:not(:first-child) {
  margin-left: 30px;
}

.work__discription {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 60px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__member {
  background-color: #fff;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member:not(:first-child) {
  margin-left: 30px;
}

.team__discription-box {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.team__member-discription {
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.social-list__social-icon:not(:first-child) {
  margin-left: 10px;
}

.social-list__social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  min-height: 92px;
}

.clients__item:not(:first-child) {
  margin-left: 30px;
}

.clients__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  cursor: pointer;
  -webkit-transition-property: color, border-color, border-radius;
  transition-property: color, border-color, border-radius;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon-link:hover, .clients__icon-link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 66px;
  padding-bottom: 54px;
  background-color: #2f303a;
}

.footer__logo {
  display: inline-block;
  color: #fff;
}

.city {
  font-style: normal;
  line-height: 1.7;
  color: #fff;
}

.footer__item:not(:first-child) {
  margin-top: 10px;
}

.footer__link {
  font-style: normal;
  line-height: 1.7;
  color: #757575;
}

.footer__title {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__adress {
  margin-top: 20px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__box:nth-child(n + 2) {
  margin-left: 70px;
}

.footer__box:last-child {
  margin-left: auto;
}

.footer__social-box {
  padding: 0;
}

.footer__soc-item:not(:first-child) {
  margin-left: 10px;
}

.footer__soc-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__social-icon {
  fill: #fff;
}

.footer-form__email {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form__email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__submit:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__submit--icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition-property: background-color, opacity, visibility, -webkit-transform;
  transition-property: background-color, opacity, visibility, -webkit-transform;
  transition-property: transform, background-color, opacity, visibility;
  transition-property: transform, background-color, opacity, visibility, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  position: absolute;
  width: 528px;
  bottom: 50%;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  background-color: var(--primary_color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-button--icon {
  width: 18px;
  height: 18px;
}

.modal-form {
  width: 448px;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form__label {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__label-title {
  margin-bottom: 4px;
}

.modal-form__policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
}

.modal-form__policy-discription {
  margin-left: 8px;
}

.modal-form__policy-link {
  display: inline;
  text-decoration: underline;
  color: #2196f3;
}

.modal-form__policy-link:hover {
  cursor: pointer;
}

.modal-form__input {
  padding-top: 11px;
  padding-bottom: 11px;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
}

.modal-form__input:focus {
  outline: none;
}

.modal-form__policy-input-icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-form__policy-input-icon:checked + .modal-form__policy-icon {
  background-color: #2196f3;
  border-color: transparent;
  background-origin: border-box;
}

.modal-form__policy-icon {
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.modal-form__submit {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  border-color: transparent;
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__submit:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form__label-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label-box:focus-within, .modal-form__label-box:hover {
  border-color: #2196f3;
  cursor: pointer;
  color: #2196f3;
}

.modal-form__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
  padding: 0;
  color: currentColor;
}

.modal-form__icon {
  fill: currentColor;
}

.modal-form__icon-tel {
  width: 13px;
  height: 13px;
}

.modal-form__icon-name {
  width: 12px;
  height: 12px;
}

.modal-form__icon-mail {
  width: 15px;
  height: 12px;
}
/*# sourceMappingURL=main.css.map */