body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #212121;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hidden-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  font-family: Raleway, "san-serif";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color_nav);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 90px;
}

.header__link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
  border: none;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__web-color {
  color: #2196f3;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__list--nav {
  margin-left: 90px;
}

.header__list--contact {
  margin-left: auto;
}

.header__item--nav:nth-child(n + 2) {
  margin-left: 50px;
}

.header__item--comunication:nth-child(n + 2) {
  margin-left: 30px;
}

.header__link--nav {
  color: #212121;
}

.header__link--comunication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.current {
  color: #2196f3;
  position: relative;
  padding-top: 32px;
  padding-bottom: 29px;
}

.current::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__icon--mail {
  width: 16px;
  height: 12px;
}

.header__icon--tel {
  width: 10px;
  height: 16px;
}

.hero {
  max-width: 1600px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__box {
  text-align: center;
}

.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: inline-block;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
}

.hero__button:focus {
  border: none;
  border-radius: 4px;
}

.benefits {
  padding-bottom: 90px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.benefits__item:not(:first-child) {
  margin-left: 30px;
}

.benefits__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
}

.benefits__discription {
  color: #757575;
  line-height: 1.7;
  text-align: left;
  margin-top: 10px;
}
/*# sourceMappingURL=main.css.map */